/*#gallery ul {
	list-style-type: none;
}

#gallery ul li{
	float: left;
	xtext-align: center;
	xborder: 1px solid #0000ff;
	xwidth: 200px;
	xheight: 200px;
}

#gallery ul li img{
	xborder: 1px solid #ff0000;
	xwidth: 75%;
	xheight: 75%;
}

#gallery ul li img a:hover img {
	border: 0px solid #0000ff;
}

#gallery ul li .desc {
	text-align: center;
 	font-weight: normal;
 	margin: 0px;
	font-size: 10px;
	display: block;
}

#gallery ul li .desc a {
	text-decoration: none;
}

#popupxxx {
	position: absolute;
	margin: auto;
	z-index:-1;	
}*/


div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
	padding: 8px;
	height: 400px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}